ifeq ($(HSROOT),)
  HSROOT=$(TUP_CWD)
endif

ifeq ($(GHC_FLAGS),)
  GHC_FLAGS=-O2
endif

HCC=$(TUP_CWD)/hcc -i$(HSROOT)
SANDBOX_GHC=$(TUP_CWD)/ghc $(HSROOT)
!ghc = |> ^o LINK %o^ LANG=en_AU.UTF-8 $(SANDBOX_GHC) $(GHC_LDFLAGS) $(GHC_FLAGS) -o %o %f |>
!ghcc = |> ^o GHC %o^ LANG=en_AU.UTF-8 $(SANDBOX_GHC) $(GHC_CFLAGS) $(GHC_FLAGS) -c %f |>
!ghcc_p = |> ^o GHC(PROF) %o^ LANG=en_AU.UTF-8 $(SANDBOX_GHC) -prof -hisuf p_hi -osuf p_o $(GHC_CFLAGS) $(GHC_FLAGS) -c %f |>
